@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
// Variables
$dark: #1a202c;
$white: #f7fafc;
$red: #e53e3e;
$green: #38a169;

// Mixins
@mixin btn-styles {
  all: unset;
  cursor: pointer;
  transition: all 0.2s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: $dark;
  color: $white;
}

#app {
  font-family: Ubuntu, Anton, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

main {
  margin-top: 5rem;
  font-size: 2rem;
  padding: 5rem;
  border-radius: 2rem;
  margin: 2rem;
  width: 800px;
  max-width: 800px;

  header {
    h1 {
      letter-spacing: 0.5rem;
      font-weight: 700;
    }
  }

  .create-todo {
    margin-top: 3rem;

    form {
      display: flex;
      flex-direction: column;

      .form-control {
        display: flex;
        flex-direction: column;

        label {
          background-color: $white;
          display: block;
          width: 10rem;
          color: $dark;
        }

        textarea {
          margin-top: 0.5rem;
          resize: none;
          font-size: 2rem;
          color: $dark;
          padding: 0.5rem;
          font-weight: bold;
          border: none;
          outline-color: $dark;
        }
      }

      .add-btn {
        @include btn-styles;
        padding: 0.5rem 2rem;
        margin-top: 2rem;
        align-self: flex-end;
        background: $white;
        color: $dark;

        &:hover {
          transform: translateY(-2px);
        }

        &:active {
          transform: translateY(0);
        }
      }
    }
  }

  .todo-list {
    margin-top: 1rem;

    .done {
      background: $green;
    }

    .title {
      color: $white;
      text-decoration: underline;
      margin-bottom: 2rem;
    }

    .todo-item {
      display: flex;
      font-size: 2rem;

      justify-content: space-between;
      align-items: center;
      padding: 5px;
      margin-bottom: 1rem;

      .todo-content {
        max-width: 80%;
      }

      .todo-item-controls {
        display: flex;

        .remove-btn,
        .toggle-done-btn {
          @include btn-styles;
          border-radius: 1rem;
          padding: 0.5rem 1rem;
        }

        .remove-btn {
          margin-left: 1rem;
          background-color: $red;
        }

        .toggle-done-btn {
          background-color: $green;
        }
      }
    }

    .todo-list-controls {
      margin-top: 5rem;
      display: flex;
      font-weight: 100;
      justify-content: space-between;
      border-top: 1px solid $white;
      padding-top: 2rem;

      p span {
        font-weight: 400;
      }

      .set-all-done-btn {
        @include btn-styles;
        background: $white;
        color: $dark;
      }
    }
  }
}
